@{
    ViewData["Title"] = "Home Page";
}
<span class="d-block p-2 bg-primary text-white p-3"></span>


<div class="container">
<div class="row ">
    <div class="text-center mt-4 col-xs-3 col-md-6 col-xl-3">
        <h1 class="display-4">Customers</h1>
        <p>Go Through Customers<a href="https://learn.microsoft.com/aspnet/core">Welcome to the Customer Care Portal</a>.</p>
    </div>
    <div class="text-center mt-4 col-xs-3 col-md-6 col-xl-3">
        <h1 class="display-4">Admins</h1>
        <p>Go Through Admins <a href="https://learn.microsoft.com/aspnet/core">Welcome to the Admins Portal</a>.</p>
    </div>
    <div class="text-center mt-4 col-xs-3 col-md-6 col-xl-3">
        <h1 class="display-4">Managers</h1>
        <p>Go Through Managers <a href="https://learn.microsoft.com/aspnet/core">Welcome to the Managers Portal</a>.</p>
    </div>
    <div class="text-center mt-4 col-xs-3 col-md-6 col-xl-3">
        <h1 class="display-4">HR</h1>
        <p>Go Through HR <a href="https://learn.microsoft.com/aspnet/core">Welcome to the HR Portal</a>.</p>
    </div>
</div>
</div>
<span class="d-block p-2 bg-dark text-white mt-3 p-2"></span>

    <div class="card-deck">
        <div class="card">
        <img class="card-img-top" src="~/cs.jpg" alt="Example Image">
            <div class="card-body">
            <h5 class="card-title">Customers</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="~/mg.jpg" alt="Example Image">
            <div class="card-body">
            <h5 class="card-title">Admins</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
        <img class="card-img-top" src="~/hr.jpg" alt="Example Image">
          
            <div class="card-body">
            <h5 class="card-title">Managers</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>




