@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi Everyone</h1>
    <p>Go Through <a href="https://learn.microsoft.com/aspnet/core">Welcome to the Customer Care Portal</a>.</p>
</div>
